# Country list data creation

In [1]:
#Importing libraries
import csv
import os
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import create_engine, inspect, func
from config import password

In [2]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/project_olympics')
conn = engine.connect()

### To obtain the list of countries to be displayed on the map we will use the IOCCOUNTRYCODES.csv

In [3]:
#path to csv file
csvpath = os.path.join('IOCCOUNTRYCODES.csv')

In [4]:
#opening and converting the csv to a dataframe
country_df = pd.read_csv(csvpath)
country_df

,Country,Int Olympic Committee code,ISO code,Country.1
0,Independent Olympic Participant,IOP,IP,Independent Olympic Participant
1,Unified Team,EUN,EU,Unified Team
2,East Germany,GDR,GDR,East Germany
3,Afghanistan,AFG,AF,Afghanistan
4,Albania,ALB,AL,Albania
...,...,...,...,...
199,Vietnam,VIE,VN,Vietnam
200,Virgin Islands*,ISV,VI,Virgin Islands*
201,Yemen,YEM,YE,Yemen
202,Zambia,ZAM,ZM,Zambia
203,Zimbabwe,ZIM,ZW,Zimbabwe

# Data cleaning

In [5]:
# Dropping unecessary columns
country_df = country_df[["Country", "Int Olympic Committee code"]]

# Renaming columns for exporting standards
country_df = country_df.rename(columns={"Country": "country", "Int Olympic Committee code": "country_code", "ISO code": "iso_code"})

country_df

                             country country_code
0    Independent Olympic Participant          IOP
1                       Unified Team          EUN
2                       East Germany          GDR
3                        Afghanistan          AFG
4                            Albania          ALB
..                               ...          ...
199                          Vietnam          VIE
200                  Virgin Islands*          ISV
201                            Yemen          YEM
202                           Zambia          ZAM
203                         Zimbabwe          ZIM

[204 rows x 2 columns]

In [6]:
# Checking for duplicates
country_df.duplicated

<bound method DataFrame.duplicated of                              country country_code
0    Independent Olympic Participant          IOP
1                       Unified Team          EUN
2                       East Germany          GDR
3                        Afghanistan          AFG
4                            Albania          ALB
..                               ...          ...
199                          Vietnam          VIE
200                  Virgin Islands*          ISV
201                            Yemen          YEM
202                           Zambia          ZAM
203                         Zimbabwe          ZIM

[204 rows x 2 columns]>

In [7]:
# Checking for missing values
country_df.count()

country         204
country_code    204
dtype: int64

In [8]:
# Standarizing country names
# Comment after standarizing all countries

search_string="Korea, North"

country_df.loc[country_df['country']==search_string]

         country country_code
99  Korea, North          PRK

### Working with GDP

In [9]:
#path to GNP csv file
gdp_path = os.path.join('API_NY.GDP.PCAP.CD_DS2_en_csv_v2_2627294.csv')

#opening and converting the csv to a dataframe
gdp_df = pd.read_csv(gdp_path, skiprows=[1,2,3], header=1)

gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,127.651518,130.353642,134.693838,142.159769,150.881897,161.073294,...,1667.992618,1648.867514,1654.314865,1503.859334,1401.281053,1536.206783,1530.161917,1481.425292,1326.663658,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,58.458009,78.706429,82.095307,101.108325,...,641.871438,637.165464,613.856505,578.466353,509.220100,519.888913,493.756581,507.103392,508.808409,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,107.963779,113.114697,118.865837,123.478967,131.892939,138.566819,...,1936.390962,2123.392433,2166.743309,1886.248158,1666.422406,1606.978332,1695.959215,1772.339155,1714.426800,NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1895.770869,NaN

In [10]:
# Dropping uncecessary columns and renaming
# Games (years) to keep
# array ([1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008])
# GDP is not available prior to 1960

years = ['1960', '1964', '1968', '1972', '1976', '1980', '1984', '1988', '1992', '1996', '2000', '2004', '2008']

gdp_df = gdp_df[["Country Name", '1960', '1964', '1968', '1972', '1976', '1980', '1984', '1988', '1992', '1996', '2000', '2004', '2008']]
gdp_df.rename(columns={"Country Name":"country", '1960':"gdp_1960", '1964':"gdp_1964", '1968':"gdp_1968", '1972':"gdp_1972",
                       '1976':"gdp_1976", '1980':"gdp_1980", '1984':"gdp_1984", '1988':"gdp_1988", '1992':"gdp_1992",
                       '1996':"gdp_1996", '2000':"gdp_2000", '2004':"gdp_2004", '2008':"gdp_2008"}, inplace = True)

In [11]:
# All NaN means GDP was not reported or made public, will fill with 0
gdp_df = gdp_df.fillna(0)
gdp_df

,country,gdp_1960,gdp_1964,gdp_1968,gdp_1972,gdp_1976,gdp_1980,gdp_1984,gdp_1988,gdp_1992,gdp_1996,gdp_2000,gdp_2004,gdp_2008
0,Aruba,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9765.909207,14045.474566,16583.875856,20617.750467,22568.374991,27083.634860
1,Africa Eastern and Southern,127.651518,150.881897,190.509423,247.397499,385.819322,666.056080,577.237128,657.826222,682.586851,701.734197,672.205474,916.603367,1356.529948
2,Afghanistan,0.000000,82.095307,129.108311,135.317228,197.445508,272.655510,0.000000,0.000000,0.000000,0.000000,0.000000,211.382074,364.660679
3,Africa Western and Central,107.963779,131.892939,129.678996,200.226910,444.504298,718.901922,656.904776,561.525598,547.823071,495.779036,502.031662,826.816538,1666.899847
4,Angola,0.000000,0.000000,0.000000,0.000000,0.000000,711.409579,638.099007,792.833017,0.000000,522.679624,556.838632,1255.564513,4080.941034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1087.762401,2086.537325,3254.820269
262,"Yemen, Rep.",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,498.963382,374.011431,554.448665,709.965379,1229.246675
263,South Africa,443.009920,548.996058,711.225742,917.355855,1416.708821,2905.807641,2429.027500,2711.515300,3479.083205,3494.423859,3032.439182,4833.627517,5760.805172
264,Zambia,232.188564,242.384473,409.775349,427.819426,537.220687,654.412013,408.777920,488.744735,376.498819,385.152152,345.689621,538.591553,1394.000500
265,Zimbabwe,278.813847,281.558896,299.398936,471.936903,664.102756,901.498415,741.875001,793.449258,619.372083,741.095855,563.057504,482.998451,356.693234

In [12]:
# Standarizing country names
# Comment after standarizing all countries

gdp_df.loc[gdp_df['country']==search_string]

Empty DataFrame
Columns: [country, gdp_1960, gdp_1964, gdp_1968, gdp_1972, gdp_1976, gdp_1980, gdp_1984, gdp_1988, gdp_1992, gdp_1996, gdp_2000, gdp_2004, gdp_2008]
Index: []

In [13]:
# Standarizing country names
gdp_df.replace('Gambia, The', 'Gambia', inplace=True)
gdp_df.replace('Russian Federation', 'Russia', inplace = True)
gdp_df.replace('Venezuela, RB', 'Venezuela', inplace = True)
gdp_df.replace('Venezuela, RB', 'Venezuela', inplace = True)
gdp_df.replace('Egypt, Arab Rep.', 'Egypt', inplace = True)
gdp_df.replace('Congo, Rep.', 'Congo', inplace = True)
gdp_df.replace("Yemen, Rep.", 'Yemen', inplace = True)
gdp_df.replace("Lao PDR", 'Laos', inplace = True)
gdp_df.replace("Iran, Islamic Rep.", 'Iran', inplace = True)
gdp_df.replace("Syrian Arab Republic", 'Syria', inplace = True)
gdp_df.replace("Kyrgyz Republic", 'Kyrgyzstan', inplace = True)
gdp_df.replace("Slovak Republic", 'Slovakia', inplace = True)
gdp_df.replace("Korea, Rep.", 'Korea, South', inplace = True)
gdp_df.replace("Korea, Dem. People's Rep.", 'Korea, North', inplace = True)

### Merging GDP with olympics country list

In [14]:
merged_df = country_df
merged_df = merged_df.merge(gdp_df, how='inner', on="country")

merged_df

,country,country_code,gdp_1960,gdp_1964,gdp_1968,gdp_1972,gdp_1976,gdp_1980,gdp_1984,gdp_1988,gdp_1992,gdp_1996,gdp_2000,gdp_2004,gdp_2008
0,Afghanistan,AFG,0.000000,82.095307,129.108311,135.317228,197.445508,272.655510,0.000000,0.000000,0.000000,0.000000,0.000000,211.382074,364.660679
1,Albania,ALB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,639.484736,652.774321,200.852220,1009.977668,1126.683318,2373.579844,4370.540127
2,Algeria,ALG,246.303751,238.043710,281.925786,442.677623,1037.607160,2203.055461,2467.346082,2417.376189,1776.028278,1603.940302,1765.026718,2610.185422,4923.630278
3,Andorra,AND,0.000000,0.000000,0.000000,4218.271599,7151.249909,12378.784511,7728.906695,14304.640595,20549.805575,19016.288188,21854.246803,37966.187252,48719.658770
4,Angola,ANG,0.000000,0.000000,0.000000,0.000000,0.000000,711.409579,638.099007,792.833017,0.000000,522.679624,556.838632,1255.564513,4080.941034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,Venezuela,VEN,955.446418,864.471221,937.598671,1155.404076,2314.990328,3893.697346,3555.806233,3220.861914,2938.160197,3151.269278,4842.036601,4325.696756,11432.745925
174,Vietnam,VIE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,390.412223,139.200123,324.147224,390.093331,546.909619,1149.424495
175,Yemen,YEM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,498.963382,374.011431,554.448665,709.965379,1229.246675
176,Zambia,ZAM,232.188564,242.384473,409.775349,427.819426,537.220687,654.412013,408.777920,488.744735,376.498819,385.152152,345.689621,538.591553,1394.000500
177,Zimbabwe,ZIM,278.813847,281.558896,299.398936,471.936903,664.102756,901.498415,741.875001,793.449258,619.372083,741.095855,563.057504,482.998451,356.693234

In [15]:
# Checking the merge
merged_df.count()

country         178
country_code    178
gdp_1960        178
gdp_1964        178
gdp_1968        178
gdp_1972        178
gdp_1976        178
gdp_1980        178
gdp_1984        178
gdp_1988        178
gdp_1992        178
gdp_1996        178
gdp_2000        178
gdp_2004        178
gdp_2008        178
dtype: int64

# Adding latitude, longitude and geometry

In [16]:
#path to csv file
csvpath = os.path.join('world_country_and_usa_states_latitude_and_longitude_values.csv')
#opening and converting the csv to a dataframe
geo_df = pd.read_csv(csvpath)
geo_df

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California
...,...,...,...,...,...,...,...,...
240,YE,15.552727,48.516388,Yemen,NaN,NaN,NaN,NaN
241,YT,-12.827500,45.166244,Mayotte,NaN,NaN,NaN,NaN
242,ZA,-30.559482,22.937506,South Africa,NaN,NaN,NaN,NaN
243,ZM,-13.133897,27.849332,Zambia,NaN,NaN,NaN,NaN
244,ZW,-19.015438,29.154857,Zimbabwe,NaN,NaN,NaN,NaN

In [17]:
# Dropping unecessary columns
geo_df = geo_df[['country_code', 'latitude', 'longitude', 'country']]
geo_df = geo_df[['country_code', 'country', 'latitude', 'longitude']]
geo_df

    country_code               country   latitude  longitude
0             AD               Andorra  42.546245   1.601554
1             AE  United Arab Emirates  23.424076  53.847818
2             AF           Afghanistan  33.939110  67.709953
3             AG   Antigua and Barbuda  17.060816 -61.796428
4             AI              Anguilla  18.220554 -63.068615
..           ...                   ...        ...        ...
240           YE                 Yemen  15.552727  48.516388
241           YT               Mayotte -12.827500  45.166244
242           ZA          South Africa -30.559482  22.937506
243           ZM                Zambia -13.133897  27.849332
244           ZW              Zimbabwe -19.015438  29.154857

[245 rows x 4 columns]

In [18]:
# Standarizing country names
# Comment after standarizing all countries

geo_df.loc[geo_df['country']==search_string]

Empty DataFrame
Columns: [country_code, country, latitude, longitude]
Index: []

In [19]:
# Unyfying country names
geo_df.replace("Côte d'Ivoire", "Cote d'Ivoire", inplace=True)
geo_df.replace("South Korea", "Korea, South", inplace=True)
geo_df.replace("North Korea", "Korea, North", inplace=True)

In [20]:
# Geometry data
import json

# Json with geometry data
file = open('country_geometry.geojson')
data = json.load(file)

# Initializing arrays
name = []
country_code = []
geometry = []

# Iterating through data
for i in data['features']:
    name.append(i['properties']['ADMIN'])
    country_code.append(i['properties']['ISO_A3'])
    geometry.append(i['geometry'])
    
# Building the DF
geometry = pd.DataFrame({"country_code":country_code, "country": name, "geometry": geometry})

geometry

,country_code,country,geometry
0,ABW,Aruba,"{'type': 'Polygon', 'coordinates': [[[-69.9969..."
1,AFG,Afghanistan,"{'type': 'Polygon', 'coordinates': [[[71.04980..."
2,AGO,Angola,"{'type': 'MultiPolygon', 'coordinates': [[[[11..."
3,AIA,Anguilla,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."
4,ALB,Albania,"{'type': 'Polygon', 'coordinates': [[[19.74776..."
...,...,...,...
250,WSM,Samoa,"{'type': 'MultiPolygon', 'coordinates': [[[[-1..."
251,YEM,Yemen,"{'type': 'MultiPolygon', 'coordinates': [[[[53..."
252,ZAF,South Africa,"{'type': 'MultiPolygon', 'coordinates': [[[[37..."
253,ZMB,Zambia,"{'type': 'Polygon', 'coordinates': [[[31.11983..."
254,ZWE,Zimbabwe,"{'type': 'Polygon', 'coordinates': [[[30.01065..."

In [21]:
# Standarizing country names
# Comment after standarizing all countries

geometry.loc[geometry['country']==search_string]

Empty DataFrame
Columns: [country_code, country, geometry]
Index: []

In [22]:
# Hard-coding some mispelled country's
geometry.replace('United States of America', 'United States', inplace=True)
geometry.replace('Guinea Bissau', 'Guinea-Bissau', inplace=True)
geometry.replace("Ivory Coast", "Cote d'Ivoire", inplace=True)
geometry.replace("United Republic of Tanzania", 'Tanzania', inplace=True)
geometry.replace("Republic of Serbia", 'Serbia', inplace=True)
geometry.replace("South Korea", 'Korea, South', inplace=True)
geometry.replace("North Korea", 'Korea, North', inplace=True)

In [23]:
# Merging both dataframes, lat/lon uses 2 letter code, geometry uses 3 letters, will merge on name
country_merged = geo_df
country_merged = country_merged.merge(geometry, how ='inner', on = 'country')

# Selecting and renaming columns
country_merged = country_merged[['country_code_y', 'country', 'latitude', 'longitude', 'geometry']]
country_merged.rename(columns = {'country_code_y': 'country_code'}, inplace = True)

country_merged

,country_code,country,latitude,longitude,geometry
0,AND,Andorra,42.546245,1.601554,"{'type': 'Polygon', 'coordinates': [[[1.707006..."
1,ARE,United Arab Emirates,23.424076,53.847818,"{'type': 'MultiPolygon', 'coordinates': [[[[53..."
2,AFG,Afghanistan,33.939110,67.709953,"{'type': 'Polygon', 'coordinates': [[[71.04980..."
3,ATG,Antigua and Barbuda,17.060816,-61.796428,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."
4,AIA,Anguilla,18.220554,-63.068615,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."
...,...,...,...,...,...
211,-99,Kosovo,42.602636,20.902977,"{'type': 'Polygon', 'coordinates': [[[20.86470..."
212,YEM,Yemen,15.552727,48.516388,"{'type': 'MultiPolygon', 'coordinates': [[[[53..."
213,ZAF,South Africa,-30.559482,22.937506,"{'type': 'MultiPolygon', 'coordinates': [[[[37..."
214,ZMB,Zambia,-13.133897,27.849332,"{'type': 'Polygon', 'coordinates': [[[31.11983..."
215,ZWE,Zimbabwe,-19.015438,29.154857,"{'type': 'Polygon', 'coordinates': [[[30.01065..."

In [24]:
# Merging DF
merged_df = merged_df.merge(country_merged, how='inner', on="country")

In [25]:
# Dropping columns
merged_df.drop(columns='country_code_y', inplace=True)

# Renaming
merged_df.rename(columns={'country_code_x':'country_code'}, inplace=True)
merged_df

,country,country_code,gdp_1960,gdp_1964,gdp_1968,gdp_1972,gdp_1976,gdp_1980,gdp_1984,gdp_1988,gdp_1992,gdp_1996,gdp_2000,gdp_2004,gdp_2008,latitude,longitude,geometry
0,Afghanistan,AFG,0.000000,82.095307,129.108311,135.317228,197.445508,272.655510,0.000000,0.000000,0.000000,0.000000,0.000000,211.382074,364.660679,33.939110,67.709953,"{'type': 'Polygon', 'coordinates': [[[71.04980..."
1,Albania,ALB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,639.484736,652.774321,200.852220,1009.977668,1126.683318,2373.579844,4370.540127,41.153332,20.168331,"{'type': 'Polygon', 'coordinates': [[[19.74776..."
2,Algeria,ALG,246.303751,238.043710,281.925786,442.677623,1037.607160,2203.055461,2467.346082,2417.376189,1776.028278,1603.940302,1765.026718,2610.185422,4923.630278,28.033886,1.659626,"{'type': 'Polygon', 'coordinates': [[[8.602510..."
3,Andorra,AND,0.000000,0.000000,0.000000,4218.271599,7151.249909,12378.784511,7728.906695,14304.640595,20549.805575,19016.288188,21854.246803,37966.187252,48719.658770,42.546245,1.601554,"{'type': 'Polygon', 'coordinates': [[[1.707006..."
4,Angola,ANG,0.000000,0.000000,0.000000,0.000000,0.000000,711.409579,638.099007,792.833017,0.000000,522.679624,556.838632,1255.564513,4080.941034,-11.202692,17.873887,"{'type': 'MultiPolygon', 'coordinates': [[[[11..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Venezuela,VEN,955.446418,864.471221,937.598671,1155.404076,2314.990328,3893.697346,3555.806233,3220.861914,2938.160197,3151.269278,4842.036601,4325.696756,11432.745925,6.423750,-66.589730,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."
172,Vietnam,VIE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,390.412223,139.200123,324.147224,390.093331,546.909619,1149.424495,14.058324,108.277199,"{'type': 'MultiPolygon', 'coordinates': [[[[10..."
173,Yemen,YEM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,498.963382,374.011431,554.448665,709.965379,1229.246675,15.552727,48.516388,"{'type': 'MultiPolygon', 'coordinates': [[[[53..."
174,Zambia,ZAM,232.188564,242.384473,409.775349,427.819426,537.220687,654.412013,408.777920,488.744735,376.498819,385.152152,345.689621,538.591553,1394.000500,-13.133897,27.849332,"{'type': 'Polygon', 'coordinates': [[[31.11983..."
175,Zimbabwe,ZIM,278.813847,281.558896,299.398936,471.936903,664.102756,901.498415,741.875001,793.449258,619.372083,741.095855,563.057504,482.998451,356.693234,-19.015438,29.154857,"{'type': 'Polygon', 'coordinates': [[[30.01065..."

In [26]:
merged_df

,country,country_code,gdp_1960,gdp_1964,gdp_1968,gdp_1972,gdp_1976,gdp_1980,gdp_1984,gdp_1988,gdp_1992,gdp_1996,gdp_2000,gdp_2004,gdp_2008,latitude,longitude,geometry
0,Afghanistan,AFG,0.000000,82.095307,129.108311,135.317228,197.445508,272.655510,0.000000,0.000000,0.000000,0.000000,0.000000,211.382074,364.660679,33.939110,67.709953,"{'type': 'Polygon', 'coordinates': [[[71.04980..."
1,Albania,ALB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,639.484736,652.774321,200.852220,1009.977668,1126.683318,2373.579844,4370.540127,41.153332,20.168331,"{'type': 'Polygon', 'coordinates': [[[19.74776..."
2,Algeria,ALG,246.303751,238.043710,281.925786,442.677623,1037.607160,2203.055461,2467.346082,2417.376189,1776.028278,1603.940302,1765.026718,2610.185422,4923.630278,28.033886,1.659626,"{'type': 'Polygon', 'coordinates': [[[8.602510..."
3,Andorra,AND,0.000000,0.000000,0.000000,4218.271599,7151.249909,12378.784511,7728.906695,14304.640595,20549.805575,19016.288188,21854.246803,37966.187252,48719.658770,42.546245,1.601554,"{'type': 'Polygon', 'coordinates': [[[1.707006..."
4,Angola,ANG,0.000000,0.000000,0.000000,0.000000,0.000000,711.409579,638.099007,792.833017,0.000000,522.679624,556.838632,1255.564513,4080.941034,-11.202692,17.873887,"{'type': 'MultiPolygon', 'coordinates': [[[[11..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Venezuela,VEN,955.446418,864.471221,937.598671,1155.404076,2314.990328,3893.697346,3555.806233,3220.861914,2938.160197,3151.269278,4842.036601,4325.696756,11432.745925,6.423750,-66.589730,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."
172,Vietnam,VIE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,390.412223,139.200123,324.147224,390.093331,546.909619,1149.424495,14.058324,108.277199,"{'type': 'MultiPolygon', 'coordinates': [[[[10..."
173,Yemen,YEM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,498.963382,374.011431,554.448665,709.965379,1229.246675,15.552727,48.516388,"{'type': 'MultiPolygon', 'coordinates': [[[[53..."
174,Zambia,ZAM,232.188564,242.384473,409.775349,427.819426,537.220687,654.412013,408.777920,488.744735,376.498819,385.152152,345.689621,538.591553,1394.000500,-13.133897,27.849332,"{'type': 'Polygon', 'coordinates': [[[31.11983..."
175,Zimbabwe,ZIM,278.813847,281.558896,299.398936,471.936903,664.102756,901.498415,741.875001,793.449258,619.372083,741.095855,563.057504,482.998451,356.693234,-19.015438,29.154857,"{'type': 'Polygon', 'coordinates': [[[30.01065..."

In [29]:
merged_df.to_csv("countries.csv", index=True)

In [28]:
# Casting the json as dictionary
merged_df['geometry'] = merged_df['geometry'].apply(json.dumps)
merged_df['geometry']

# Saving to Postgres
merged_df.to_sql('country', con=engine, if_exists="append", index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (country_code)=(AFG) already exists.

[SQL: INSERT INTO country (country, country_code, gdp_1960, gdp_1964, gdp_1968, gdp_1972, gdp_1976, gdp_1980, gdp_1984, gdp_1988, gdp_1992, gdp_1996, gdp_2000, gdp_2004, gdp_2008, latitude, longitude, geometry) VALUES (%(country)s, %(country_code)s, %(gdp_1960)s, %(gdp_1964)s, %(gdp_1968)s, %(gdp_1972)s, %(gdp_1976)s, %(gdp_1980)s, %(gdp_1984)s, %(gdp_1988)s, %(gdp_1992)s, %(gdp_1996)s, %(gdp_2000)s, %(gdp_2004)s, %(gdp_2008)s, %(latitude)s, %(longitude)s, %(geometry)s)]
[parameters: ({'country': 'Afghanistan', 'country_code': 'AFG', 'gdp_1960': 0.0, 'gdp_1964': 82.0953065340517, 'gdp_1968': 129.108310965006, 'gdp_1972': 135.317227981591, 'gdp_1976': 197.44550755114497, 'gdp_1980': 272.655510200686, 'gdp_1984': 0.0, 'gdp_1988': 0.0, 'gdp_1992': 0.0, 'gdp_1996': 0.0, 'gdp_2000': 0.0, 'gdp_2004': 211.38207419893902, 'gdp_2008': 364.660679028164, 'latitude': 33.93911, 'longitude': 67.709953, 'geometry': '{"type": "Polygon", "coordinates": [[[71.04980228700009, 38.40866445000009], [71.05714034000005, 38.40902618400008], [71.0649434820001, 38.4118167120 ... (61328 characters truncated) ... .02458418800012, 38.44191823300011], [71.03295577000011, 38.42365061500007], [71.039467, 38.4153307090001], [71.04980228700009, 38.40866445000009]]]}'}, {'country': 'Albania', 'country_code': 'ALB', 'gdp_1960': 0.0, 'gdp_1964': 0.0, 'gdp_1968': 0.0, 'gdp_1972': 0.0, 'gdp_1976': 0.0, 'gdp_1980': 0.0, 'gdp_1984': 639.484735848211, 'gdp_1988': 652.774321396566, 'gdp_1992': 200.852219772323, 'gdp_1996': 1009.9776675210601, 'gdp_2000': 1126.68331762741, 'gdp_2004': 2373.57984371994, 'gdp_2008': 4370.5401269901395, 'latitude': 41.153332, 'longitude': 20.168331, 'geometry': '{"type": "Polygon", "coordinates": [[[19.747765747000074, 42.57890085900007], [19.746008749000083, 42.579934387000065], [19.741357870000115, 42.57440 ... (22443 characters truncated) ... 0074, 42.62440195700012], [19.746008749000083, 42.59889963900011], [19.74688465400007, 42.58892977200014], [19.747765747000074, 42.57890085900007]]]}'}, {'country': 'Algeria', 'country_code': 'ALG', 'gdp_1960': 246.303751319472, 'gdp_1964': 238.0437103942, 'gdp_1968': 281.925786291132, 'gdp_1972': 442.677623465283, 'gdp_1976': 1037.6071598989301, 'gdp_1980': 2203.05546106977, 'gdp_1984': 2467.34608187899, 'gdp_1988': 2417.3761889225198, 'gdp_1992': 1776.0282780527, 'gdp_1996': 1603.9403022019, 'gdp_2000': 1765.02671807644, 'gdp_2004': 2610.18542243488, 'gdp_2008': 4923.63027791716, 'latitude': 28.033886, 'longitude': 1.6596259999999998, 'geometry': '{"type": "Polygon", "coordinates": [[[8.602510428642177, 36.939510763470565], [8.605655151000065, 36.913045146000115], [8.604828329000043, 36.9009786 ... (50342 characters truncated) ... 000122, 36.9015567080001], [8.497569207000083, 36.90420156500008], [8.601898634000122, 36.93935781500005], [8.602510428642177, 36.939510763470565]]]}'}, {'country': 'Andorra', 'country_code': 'AND', 'gdp_1960': 0.0, 'gdp_1964': 0.0, 'gdp_1968': 0.0, 'gdp_1972': 4218.27159918486, 'gdp_1976': 7151.249909405991, 'gdp_1980': 12378.7845111338, 'gdp_1984': 7728.90669456943, 'gdp_1988': 14304.640595474199, 'gdp_1992': 20549.8055751695, 'gdp_1996': 19016.2881877293, 'gdp_2000': 21854.2468030614, 'gdp_2004': 37966.1872524395, 'gdp_2008': 48719.6587699036, 'latitude': 42.546245, 'longitude': 1.6015540000000001, 'geometry': '{"type": "Polygon", "coordinates": [[[1.707006470000067, 42.5027814740001], [1.697498006000075, 42.49446156900012], [1.68633589600006, 42.49061167500 ... (1785 characters truncated) ... 00119, 42.561640930000095], [1.721682577000138, 42.54851511600003], [1.710623820000137, 42.527741191000075], [1.707006470000067, 42.5027814740001]]]}'}, {'country': 'Angola', 'country_code': 'ANG', 'gdp_1960': 0.0, 'gdp_1964': 0.0, 'gdp_1968': 0.0, 'gdp_1972': 0.0, 'gdp_1976': 0.0, 'gdp_1980': 711.40957856021, 'gdp_1984': 638.099006801712, 'gdp_1988': 792.833017228347, 'gdp_1992': 0.0, 'gdp_1996': 522.679624255226, 'gdp_2000': 556.838631674927, 'gdp_2004': 1255.5645132554598, 'gdp_2008': 4080.9410337241707, 'latitude': -11.202691999999999, 'longitude': 17.873887, 'geometry': '{"type": "MultiPolygon", "coordinates": [[[[11.73751945100014, -16.692577982999836], [11.738506688000115, -16.70582207599999], [11.71579354500011, -1 ... (68638 characters truncated) ...  -4.391203714999961], [12.775426473000039, -4.396164651999825], [12.782655684000076, -4.400070757999899], [12.801057984000096, -4.41001393599997]]]]}'}, {'country': 'Antigua and Barbuda', 'country_code': 'ANT', 'gdp_1960': 0.0, 'gdp_1964': 0.0, 'gdp_1968': 0.0, 'gdp_1972': 0.0, 'gdp_1976': 0.0, 'gdp_1980': 2124.6185264814103, 'gdp_1984': 3372.60207005529, 'gdp_1988': 6454.835450917739, 'gdp_1992': 7745.72179961652, 'gdp_1996': 9030.5749776224, 'gdp_2000': 10872.2929515751, 'gdp_2004': 11446.9691417182, 'gdp_2008': 16044.1057963132, 'latitude': 17.060816, 'longitude': -61.796428000000006, 'geometry': '{"type": "MultiPolygon", "coordinates": [[[[-61.77301998599992, 17.126532294000143], [-61.756418423999975, 17.114162502000013], [-61.755441860999895, ... (4239 characters truncated) ... 93, 17.727687893000123], [-61.817860480999855, 17.70319245000009], [-61.82457434799991, 17.6993675800001], [-61.8314509759999, 17.69635651200018]]]]}'}, {'country': 'Argentina', 'country_code': 'ARG', 'gdp_1960': 0.0, 'gdp_1964': 0.0, 'gdp_1968': 0.0, 'gdp_1972': 1127.09229944122, 'gdp_1976': 1948.2246307731698, 'gdp_1980': 2758.83475016383, 'gdp_1984': 2659.7081752801896, 'gdp_1988': 3985.1924998756103, 'gdp_1992': 6823.538837104239, 'gdp_1996': 7721.35410460355, 'gdp_2000': 7708.099114540409, 'gdp_2004': 4277.72157290954, 'gdp_2008': 9020.873323142741, 'latitude': -38.416097, 'longitude': -63.616671999999994, 'geometry': '{"type": "MultiPolygon", "coordinates": [[[[-68.65412350199998, -54.88624439899996], [-68.65413543192139, -54.88624456459053], [-68.65413512199987, - ... (197710 characters truncated) ... 21.91261484799996], [-66.04653234899993, -21.917989196999926], [-65.95449662299993, -21.933078714999837], [-65.9326891689999, -21.94455088299985]]]]}'}, {'country': 'Armenia', 'country_code': 'ARM', 'gdp_1960': 0.0, 'gdp_1964': 0.0, 'gdp_1968': 0.0, 'gdp_1972': 0.0, 'gdp_1976': 0.0, 'gdp_1980': 0.0, 'gdp_1984': 0.0, 'gdp_1988': 0.0, 'gdp_1992': 369.707232276548, 'gdp_1996': 504.059842642233, 'gdp_2000': 622.740922945281, 'gdp_2004': 1191.92100563238, 'gdp_2008': 4010.8613808483296, 'latitude': 40.069099, 'longitude': 45.038189, 'geometry': '{"type": "MultiPolygon", "coordinates": [[[[45.54717289200002, 40.62155263300009], [45.51368656500003, 40.601967265000084], [45.47927006000012, 40.60 ... (17211 characters truncated) ... 9, 40.99791208900017], [45.180270223000065, 40.996413473000146], [45.177169637000105, 40.99382965200006], [45.18678145300012, 40.970833639000105]]]]}'}  ... displaying 10 of 176 total bound parameter sets ...  {'country': 'Zambia', 'country_code': 'ZAM', 'gdp_1960': 232.18856446896197, 'gdp_1964': 242.384472510792, 'gdp_1968': 409.775349349798, 'gdp_1972': 427.81942597668404, 'gdp_1976': 537.2206872239241, 'gdp_1980': 654.412013497344, 'gdp_1984': 408.77792014954804, 'gdp_1988': 488.744735029332, 'gdp_1992': 376.498818970315, 'gdp_1996': 385.152152201257, 'gdp_2000': 345.689620749861, 'gdp_2004': 538.5915530383741, 'gdp_2008': 1394.00049997193, 'latitude': -13.133897, 'longitude': 27.849332, 'geometry': '{"type": "Polygon", "coordinates": [[[31.11983646700014, -8.616630553999912], [31.1410238040001, -8.606191914999968], [31.161384318000046, -8.5917225 ... (63236 characters truncated) ... 74, -8.575909525999933], [31.03364017700011, -8.60030080099996], [31.077823527000135, -8.616320494999925], [31.11983646700014, -8.616630553999912]]]}'}, {'country': 'Zimbabwe', 'country_code': 'ZIM', 'gdp_1960': 278.81384676855, 'gdp_1964': 281.558896044141, 'gdp_1968': 299.398935753671, 'gdp_1972': 471.936902815235, 'gdp_1976': 664.102755742887, 'gdp_1980': 901.498414686656, 'gdp_1984': 741.875000510963, 'gdp_1988': 793.449258304973, 'gdp_1992': 619.372082648236, 'gdp_1996': 741.095855159097, 'gdp_2000': 563.057504105969, 'gdp_2004': 482.998451486038, 'gdp_2008': 356.693234400305, 'latitude': -19.015438, 'longitude': 29.154857, 'geometry': '{"type": "Polygon", "coordinates": [[[30.010653524000077, -15.64622731499989], [30.050237670000115, -15.640129495999929], [30.090028523000115, -15.62 ... (31975 characters truncated) ... 5.614808044999862], [29.881772502000047, -15.618838805999943], [29.967503702000045, -15.641473083999898], [30.010653524000077, -15.64622731499989]]]}'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)