# Country list data creation

In [1]:
#Importing libraries
import csv
import os
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import create_engine, inspect, func
from config import password

In [2]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/project_olympics')
conn = engine.connect()

### To obtain the list of countries to be displayed on the map we will use the IOCCOUNTRYCODES.csv

In [3]:
#path to csv file
csvpath = os.path.join('IOCCOUNTRYCODES.csv')

In [4]:
#opening and converting the csv to a dataframe
country_df = pd.read_csv(csvpath)
country_df

,Country,Int Olympic Committee code,ISO code,Country.1
0,Independent Olympic Participant,IOP,IP,Independent Olympic Participant
1,Unified Team,EUN,EU,Unified Team
2,East Germany,GDR,GDR,East Germany
3,Afghanistan,AFG,AF,Afghanistan
4,Albania,ALB,AL,Albania
...,...,...,...,...
199,Vietnam,VIE,VN,Vietnam
200,Virgin Islands*,ISV,VI,Virgin Islands*
201,Yemen,YEM,YE,Yemen
202,Zambia,ZAM,ZM,Zambia
203,Zimbabwe,ZIM,ZW,Zimbabwe

# Data cleaning

In [5]:
# Dropping unecessary columns
country_df = country_df[["Country", "Int Olympic Committee code"]]

# Renaming columns for exportind standards
country_df = country_df.rename(columns={"Country": "country", "Int Olympic Committee code": "country_code", "ISO code": "iso_code"})

country_df

                             country country_code
0    Independent Olympic Participant          IOP
1                       Unified Team          EUN
2                       East Germany          GDR
3                        Afghanistan          AFG
4                            Albania          ALB
..                               ...          ...
199                          Vietnam          VIE
200                  Virgin Islands*          ISV
201                            Yemen          YEM
202                           Zambia          ZAM
203                         Zimbabwe          ZIM

[204 rows x 2 columns]

In [6]:
# Checking for duplicates
country_df.duplicated

<bound method DataFrame.duplicated of                              country country_code
0    Independent Olympic Participant          IOP
1                       Unified Team          EUN
2                       East Germany          GDR
3                        Afghanistan          AFG
4                            Albania          ALB
..                               ...          ...
199                          Vietnam          VIE
200                  Virgin Islands*          ISV
201                            Yemen          YEM
202                           Zambia          ZAM
203                         Zimbabwe          ZIM

[204 rows x 2 columns]>

In [7]:
# Checking for missing values
country_df.count()

country         204
country_code    204
dtype: int64

### Working with GDP

In [8]:
#path to GNP csv file
gdp_path = os.path.join('API_NY.GDP.PCAP.CD_DS2_en_csv_v2_2627294.csv')

#opening and converting the csv to a dataframe
gdp_df = pd.read_csv(gdp_path, skiprows=[1,2,3], header=1)
gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,127.651518,130.353642,134.693838,142.159769,150.881897,161.073294,...,1667.992618,1648.867514,1654.314865,1503.859334,1401.281053,1536.206783,1530.161917,1481.425292,1326.663658,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,58.458009,78.706429,82.095307,101.108325,...,641.871438,637.165464,613.856505,578.466353,509.220100,519.888913,493.756581,507.103392,508.808409,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,107.963779,113.114697,118.865837,123.478967,131.892939,138.566819,...,1936.390962,2123.392433,2166.743309,1886.248158,1666.422406,1606.978332,1695.959215,1772.339155,1714.426800,NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1895.770869,NaN

In [9]:
# Dropping uncecessary columns and renaming
# Games (years) to keep
# array ([1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008])
# GDP is not available prior to 1960
years = ['1960', '1964', '1968', '1972', '1976', '1980', '1984', '1988', '1992', '1996', '2000', '2004', '2008']

gdp_df = gdp_df[["Country Name", '1960', '1964', '1968', '1972', '1976', '1980', '1984', '1988', '1992', '1996', '2000', '2004', '2008']]
gdp_df.rename(columns={"Country Name":"country", '1960':"gdp_1960", '1964':"gdp_1964", '1968':"gdp_1968", '1972':"gdp_1972",
                       '1976':"gdp_1976", '1980':"gdp_1980", '1984':"gdp_1984", '1988':"gdp_1988", '1992':"gdp_1992",
                       '1996':"gdp_1996", '2000':"gdp_2000", '2004':"gdp_2004", '2008':"gdp_2008"}, inplace = True)
gdp_df

,country,gdp_1960,gdp_1964,gdp_1968,gdp_1972,gdp_1976,gdp_1980,gdp_1984,gdp_1988,gdp_1992,gdp_1996,gdp_2000,gdp_2004,gdp_2008
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9765.909207,14045.474566,16583.875856,20617.750467,22568.374991,27083.634860
1,Africa Eastern and Southern,127.651518,150.881897,190.509423,247.397499,385.819322,666.056080,577.237128,657.826222,682.586851,701.734197,672.205474,916.603367,1356.529948
2,Afghanistan,NaN,82.095307,129.108311,135.317228,197.445508,272.655510,NaN,NaN,NaN,NaN,NaN,211.382074,364.660679
3,Africa Western and Central,107.963779,131.892939,129.678996,200.226910,444.504298,718.901922,656.904776,561.525598,547.823071,495.779036,502.031662,826.816538,1666.899847
4,Angola,NaN,NaN,NaN,NaN,NaN,711.409579,638.099007,792.833017,NaN,522.679624,556.838632,1255.564513,4080.941034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1087.762401,2086.537325,3254.820269
262,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,498.963382,374.011431,554.448665,709.965379,1229.246675
263,South Africa,443.009920,548.996058,711.225742,917.355855,1416.708821,2905.807641,2429.027500,2711.515300,3479.083205,3494.423859,3032.439182,4833.627517,5760.805172
264,Zambia,232.188564,242.384473,409.775349,427.819426,537.220687,654.412013,408.777920,488.744735,376.498819,385.152152,345.689621,538.591553,1394.000500
265,Zimbabwe,278.813847,281.558896,299.398936,471.936903,664.102756,901.498415,741.875001,793.449258,619.372083,741.095855,563.057504,482.998451,356.693234

In [10]:
# All NaN means GDP was not reported or made public, will fill with 0
gdp_df = gdp_df.fillna(0)
gdp_df

,country,gdp_1960,gdp_1964,gdp_1968,gdp_1972,gdp_1976,gdp_1980,gdp_1984,gdp_1988,gdp_1992,gdp_1996,gdp_2000,gdp_2004,gdp_2008
0,Aruba,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9765.909207,14045.474566,16583.875856,20617.750467,22568.374991,27083.634860
1,Africa Eastern and Southern,127.651518,150.881897,190.509423,247.397499,385.819322,666.056080,577.237128,657.826222,682.586851,701.734197,672.205474,916.603367,1356.529948
2,Afghanistan,0.000000,82.095307,129.108311,135.317228,197.445508,272.655510,0.000000,0.000000,0.000000,0.000000,0.000000,211.382074,364.660679
3,Africa Western and Central,107.963779,131.892939,129.678996,200.226910,444.504298,718.901922,656.904776,561.525598,547.823071,495.779036,502.031662,826.816538,1666.899847
4,Angola,0.000000,0.000000,0.000000,0.000000,0.000000,711.409579,638.099007,792.833017,0.000000,522.679624,556.838632,1255.564513,4080.941034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1087.762401,2086.537325,3254.820269
262,"Yemen, Rep.",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,498.963382,374.011431,554.448665,709.965379,1229.246675
263,South Africa,443.009920,548.996058,711.225742,917.355855,1416.708821,2905.807641,2429.027500,2711.515300,3479.083205,3494.423859,3032.439182,4833.627517,5760.805172
264,Zambia,232.188564,242.384473,409.775349,427.819426,537.220687,654.412013,408.777920,488.744735,376.498819,385.152152,345.689621,538.591553,1394.000500
265,Zimbabwe,278.813847,281.558896,299.398936,471.936903,664.102756,901.498415,741.875001,793.449258,619.372083,741.095855,563.057504,482.998451,356.693234

### Merging GDP with olympics country list

In [11]:
merged_df = country_df
merged_df = merged_df.merge(gdp_df, how='inner', on="country")

merged_df

,country,country_code,gdp_1960,gdp_1964,gdp_1968,gdp_1972,gdp_1976,gdp_1980,gdp_1984,gdp_1988,gdp_1992,gdp_1996,gdp_2000,gdp_2004,gdp_2008
0,Afghanistan,AFG,0.000000,82.095307,129.108311,135.317228,197.445508,272.655510,0.000000,0.000000,0.000000,0.000000,0.000000,211.382074,364.660679
1,Albania,ALB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,639.484736,652.774321,200.852220,1009.977668,1126.683318,2373.579844,4370.540127
2,Algeria,ALG,246.303751,238.043710,281.925786,442.677623,1037.607160,2203.055461,2467.346082,2417.376189,1776.028278,1603.940302,1765.026718,2610.185422,4923.630278
3,Andorra,AND,0.000000,0.000000,0.000000,4218.271599,7151.249909,12378.784511,7728.906695,14304.640595,20549.805575,19016.288188,21854.246803,37966.187252,48719.658770
4,Angola,ANG,0.000000,0.000000,0.000000,0.000000,0.000000,711.409579,638.099007,792.833017,0.000000,522.679624,556.838632,1255.564513,4080.941034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Uzbekistan,UZB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,603.352015,600.598158,558.226802,465.119887,1082.286025
161,Vanuatu,VAN,0.000000,0.000000,0.000000,0.000000,0.000000,1048.335590,1137.138278,1136.609999,1347.430174,1522.062208,1470.635870,1788.122206,2629.053124
162,Vietnam,VIE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,390.412223,139.200123,324.147224,390.093331,546.909619,1149.424495
163,Zambia,ZAM,232.188564,242.384473,409.775349,427.819426,537.220687,654.412013,408.777920,488.744735,376.498819,385.152152,345.689621,538.591553,1394.000500
164,Zimbabwe,ZIM,278.813847,281.558896,299.398936,471.936903,664.102756,901.498415,741.875001,793.449258,619.372083,741.095855,563.057504,482.998451,356.693234

In [12]:
# Checking the merge
merged_df.count()

country         165
country_code    165
gdp_1960        165
gdp_1964        165
gdp_1968        165
gdp_1972        165
gdp_1976        165
gdp_1980        165
gdp_1984        165
gdp_1988        165
gdp_1992        165
gdp_1996        165
gdp_2000        165
gdp_2004        165
gdp_2008        165
dtype: int64

In [13]:
# Saving to Postgres
# merged_df.to_sql('merged_df', con=engine)