# Country Latitude, Longitude and Geometry table

In [1]:
#Importing libraries
import csv
import os
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import create_engine, inspect, func
from config import password

In [2]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/project_olympics')
conn = engine.connect()

In [3]:
#path to csv file
csvpath = os.path.join('world_country_and_usa_states_latitude_and_longitude_values.csv')
#opening and converting the csv to a dataframe
geo_df = pd.read_csv(csvpath)
geo_df

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California
...,...,...,...,...,...,...,...,...
240,YE,15.552727,48.516388,Yemen,NaN,NaN,NaN,NaN
241,YT,-12.827500,45.166244,Mayotte,NaN,NaN,NaN,NaN
242,ZA,-30.559482,22.937506,South Africa,NaN,NaN,NaN,NaN
243,ZM,-13.133897,27.849332,Zambia,NaN,NaN,NaN,NaN
244,ZW,-19.015438,29.154857,Zimbabwe,NaN,NaN,NaN,NaN

In [6]:
# Dropping unecessary columns
geo_df = geo_df[['country_code', 'latitude', 'longitude', 'country']]
geo_df = geo_df[['country_code', 'country', 'latitude', 'longitude']]
geo_df

    country_code               country   latitude  longitude
0             AD               Andorra  42.546245   1.601554
1             AE  United Arab Emirates  23.424076  53.847818
2             AF           Afghanistan  33.939110  67.709953
3             AG   Antigua and Barbuda  17.060816 -61.796428
4             AI              Anguilla  18.220554 -63.068615
..           ...                   ...        ...        ...
240           YE                 Yemen  15.552727  48.516388
241           YT               Mayotte -12.827500  45.166244
242           ZA          South Africa -30.559482  22.937506
243           ZM                Zambia -13.133897  27.849332
244           ZW              Zimbabwe -19.015438  29.154857

[245 rows x 4 columns]

# Pulling geometry data

In [47]:
import json

# Json with geometry data
file = open('country_geometry.geojson')
data = json.load(file)

# Initializing arrays
name = []
country_code = []
geometry = []

# Iterating through data
for i in data['features']:
    name.append(i['properties']['ADMIN'])
    country_code.append(i['properties']['ISO_A3'])
    geometry.append(i['geometry'])
    
# Building the DF
geometry = pd.DataFrame({"country_code":country_code, "country": name, "geometry": geometry})

geometry

,country_code,country,geometry
0,ABW,Aruba,"{'type': 'Polygon', 'coordinates': [[[-69.9969..."
1,AFG,Afghanistan,"{'type': 'Polygon', 'coordinates': [[[71.04980..."
2,AGO,Angola,"{'type': 'MultiPolygon', 'coordinates': [[[[11..."
3,AIA,Anguilla,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."
4,ALB,Albania,"{'type': 'Polygon', 'coordinates': [[[19.74776..."
...,...,...,...
250,WSM,Samoa,"{'type': 'MultiPolygon', 'coordinates': [[[[-1..."
251,YEM,Yemen,"{'type': 'MultiPolygon', 'coordinates': [[[[53..."
252,ZAF,South Africa,"{'type': 'MultiPolygon', 'coordinates': [[[[37..."
253,ZMB,Zambia,"{'type': 'Polygon', 'coordinates': [[[31.11983..."
254,ZWE,Zimbabwe,"{'type': 'Polygon', 'coordinates': [[[30.01065..."

In [55]:
# Merging both dataframes, lat/lon uses 2 letter code, geometry uses 3 letters, will merge on name
country_merged = geo_df
country_merged = country_merged.merge(geometry, how ='inner', on = 'country')

# Selecting and renaming columns
country_merged = country_merged[['country_code_y', 'country', 'latitude', 'longitude', 'geometry']]
country_merged.rename(columns = {'country_code_y': 'country_code'}, inplace = True)

country_merged

,country_code,country,latitude,longitude,geometry
0,AND,Andorra,42.546245,1.601554,"{'type': 'Polygon', 'coordinates': [[[1.707006..."
1,ARE,United Arab Emirates,23.424076,53.847818,"{'type': 'MultiPolygon', 'coordinates': [[[[53..."
2,AFG,Afghanistan,33.939110,67.709953,"{'type': 'Polygon', 'coordinates': [[[71.04980..."
3,ATG,Antigua and Barbuda,17.060816,-61.796428,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."
4,AIA,Anguilla,18.220554,-63.068615,"{'type': 'MultiPolygon', 'coordinates': [[[[-6..."
...,...,...,...,...,...
206,-99,Kosovo,42.602636,20.902977,"{'type': 'Polygon', 'coordinates': [[[20.86470..."
207,YEM,Yemen,15.552727,48.516388,"{'type': 'MultiPolygon', 'coordinates': [[[[53..."
208,ZAF,South Africa,-30.559482,22.937506,"{'type': 'MultiPolygon', 'coordinates': [[[[37..."
209,ZMB,Zambia,-13.133897,27.849332,"{'type': 'Polygon', 'coordinates': [[[31.11983..."
210,ZWE,Zimbabwe,-19.015438,29.154857,"{'type': 'Polygon', 'coordinates': [[[30.01065..."

In [ ]:
# Saving to Postgres
# merged_df.to_sql('country_geo', con=engine, if_exists="append", index=False)