In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import create_engine, inspect, func
from config import password

In [2]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/project_olympics')
conn = engine.connect()

In [3]:
sports = 'df_sports.csv'
df_sports = pd.read_csv(sports, encoding="ISO-8859-1")
df_sports

,Unnamed: 0,year,sport,discipline,athlete,country_code,gender,event,medal,medal_value
0,0,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold,3
1,97,1896,Gymnastics,Artistic G.,"LOUNDRAS, Dimitrios",GRE,Men,"team, parallel bars",Bronze,1
2,98,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,"team, parallel bars",Bronze,1
3,99,1896,Gymnastics,Artistic G.,"BÃÂCKER, Konrad",GER,Men,"team, parallel bars",Gold,3
4,100,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, parallel bars",Gold,3
...,...,...,...,...,...,...,...,...,...,...
29211,27847,2008,Basketball,Basketball,"JIMENEZ, Carlos",ESP,Men,basketball,Silver,2
29212,27846,2008,Basketball,Basketball,"GASOL, Pau",ESP,Men,basketball,Silver,2
29213,27845,2008,Basketball,Basketball,"GASOL, Marc",ESP,Men,basketball,Silver,2
29214,27858,2008,Basketball,Basketball,"KUZINA, Marina",RUS,Women,basketball,Bronze,1
29215,29215,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver,2

In [4]:
countries = 'countries.csv'
df_countries = pd.read_csv(countries, encoding="ISO-8859-1")
df_countries.head()

,Unnamed: 0,country,country_code,gdp_1960,gdp_1964,gdp_1968,gdp_1972,gdp_1976,gdp_1980,gdp_1984,gdp_1988,gdp_1992,gdp_1996,gdp_2000,gdp_2004,gdp_2008,latitude,longitude,geometry
0,0,Afghanistan,AFG,0.000000,82.095307,129.108311,135.317228,197.445508,272.655510,0.000000,0.000000,0.000000,0.000000,0.000000,211.382074,364.660679,33.939110,67.709953,"{""type"": ""Polygon"", ""coordinates"": [[[71.04980..."
1,1,Albania,ALB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,639.484736,652.774321,200.852220,1009.977668,1126.683318,2373.579844,4370.540127,41.153332,20.168331,"{""type"": ""Polygon"", ""coordinates"": [[[19.74776..."
2,2,Algeria,ALG,246.303751,238.043710,281.925786,442.677623,1037.607160,2203.055461,2467.346082,2417.376189,1776.028278,1603.940302,1765.026718,2610.185422,4923.630278,28.033886,1.659626,"{""type"": ""Polygon"", ""coordinates"": [[[8.602510..."
3,3,Andorra,AND,0.000000,0.000000,0.000000,4218.271599,7151.249909,12378.784511,7728.906695,14304.640595,20549.805575,19016.288188,21854.246803,37966.187252,48719.658770,42.546245,1.601554,"{""type"": ""Polygon"", ""coordinates"": [[[1.707006..."
4,4,Angola,ANG,0.000000,0.000000,0.000000,0.000000,0.000000,711.409579,638.099007,792.833017,0.000000,522.679624,556.838632,1255.564513,4080.941034,-11.202692,17.873887,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[11..."

In [5]:
merged_df = df_sports.merge(df_countries, how='left', on="country_code")
merged_df

,Unnamed: 0_x,year,sport,discipline,athlete,country_code,gender,event,medal,medal_value,...,gdp_1984,gdp_1988,gdp_1992,gdp_1996,gdp_2000,gdp_2004,gdp_2008,latitude,longitude,geometry
0,0,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold,3,...,0.000000,0.000000,3735.101486,4525.040091,4624.282203,10285.791936,15753.470233,47.162494,19.503304,"{""type"": ""Polygon"", ""coordinates"": [[[20.98148..."
1,97,1896,Gymnastics,Artistic G.,"LOUNDRAS, Dimitrios",GRE,Men,"team, parallel bars",Bronze,1,...,14.241283,22.296968,32.798088,40.348605,35.773053,21995.477944,32127.983194,39.074208,21.824312,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[24..."
2,98,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,"team, parallel bars",Bronze,1,...,14.241283,22.296968,32.798088,40.348605,35.773053,21995.477944,32127.983194,39.074208,21.824312,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[24..."
3,99,1896,Gymnastics,Artistic G.,"BÃÂCKER, Konrad",GER,Men,"team, parallel bars",Gold,3,...,4761.725433,9167.674072,13518.347239,15587.605264,23694.760483,34106.658122,45612.710622,51.165691,10.451526,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[6...."
4,100,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, parallel bars",Gold,3,...,4761.725433,9167.674072,13518.347239,15587.605264,23694.760483,34106.658122,45612.710622,51.165691,10.451526,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[6...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29211,27847,2008,Basketball,Basketball,"JIMENEZ, Carlos",ESP,Men,basketball,Silver,2,...,26.985571,58.316951,96.834524,96.823722,14749.687425,24907.000851,35510.722231,40.463667,-3.749220,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[-1..."
29212,27846,2008,Basketball,Basketball,"GASOL, Pau",ESP,Men,basketball,Silver,2,...,26.985571,58.316951,96.834524,96.823722,14749.687425,24907.000851,35510.722231,40.463667,-3.749220,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[-1..."
29213,27845,2008,Basketball,Basketball,"GASOL, Marc",ESP,Men,basketball,Silver,2,...,26.985571,58.316951,96.834524,96.823722,14749.687425,24907.000851,35510.722231,40.463667,-3.749220,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[-1..."
29214,27858,2008,Basketball,Basketball,"KUZINA, Marina",RUS,Women,basketball,Bronze,1,...,0.000000,3777.235373,3098.802639,2643.929196,1771.594059,4102.364833,11635.272934,61.524010,105.318756,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[13..."
29215,29215,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver,2,...,0.000000,3777.235373,3098.802639,2643.929196,1771.594059,4102.364833,11635.272934,61.524010,105.318756,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[13..."

In [6]:
merged_df  = merged_df [["year", "sport", "athlete", "country_code", "gender", "medal_value", "latitude", "longitude"]]
merged_df.dropna (inplace=True)

C:\Users\Juanjo\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
merged_df.to_sql(name= 'geodata', con=engine, if_exists='append', index= False)