In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import create_engine, inspect, func
from config import password

In [2]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/project_olympics')
conn = engine.connect()

In [3]:
# CSV location 
summer = 'SummerOlympicMedals.csv'

In [4]:
#Selecting columns, Renaming 
df_summer = pd.read_csv(summer, encoding="ISO-8859-1")
df_summer.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [5]:
#Reading CSV, Selecting columns, Renaming 
df_summer = df_summer[["Edition", "Sport", "Discipline", "Athlete", "NOC", "Gender", "Event", "Medal"]]

In [6]:
df_summer=df_summer.rename(columns={"Edition":"year", "Sport":"sport", "Discipline":"discipline","Athlete": "athlete","NOC":"country_code","Gender":"gender", "Event":"event", "Medal":"medal"})
df_summer

,year,sport,discipline,athlete,country_code,gender,event,medal
0,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold
1,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,Silver
2,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,Bronze
3,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,Gold
4,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,Silver
...,...,...,...,...,...,...,...,...
29211,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,Silver
29212,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,Bronze
29213,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,Bronze
29214,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,Gold
29215,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver

In [7]:
df_summer_sorted = df_summer.sort_values("year")

df_summer_sorted["medal_value"] = 0 
df_summer_sorted

,year,sport,discipline,athlete,country_code,gender,event,medal,medal_value
0,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold,0
97,1896,Gymnastics,Artistic G.,"LOUNDRAS, Dimitrios",GRE,Men,"team, parallel bars",Bronze,0
98,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,"team, parallel bars",Bronze,0
99,1896,Gymnastics,Artistic G.,"BÃCKER, Konrad",GER,Men,"team, parallel bars",Gold,0
100,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, parallel bars",Gold,0
...,...,...,...,...,...,...,...,...,...
27847,2008,Basketball,Basketball,"JIMENEZ, Carlos",ESP,Men,basketball,Silver,0
27846,2008,Basketball,Basketball,"GASOL, Pau",ESP,Men,basketball,Silver,0
27845,2008,Basketball,Basketball,"GASOL, Marc",ESP,Men,basketball,Silver,0
27858,2008,Basketball,Basketball,"KUZINA, Marina",RUS,Women,basketball,Bronze,0
29215,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver,0

In [8]:
df_summer_sorted["medal_value"][df_summer_sorted["medal"].astype(str).str.contains('Bronze')]= 1
df_summer_sorted["medal_value"][df_summer_sorted["medal"].astype(str).str.contains('Silver')]= 2
df_summer_sorted["medal_value"][df_summer_sorted["medal"].astype(str).str.contains('Gold')]= 3

<ipython-input-8-bc0ea9e2410f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_summer_sorted["medal_value"][df_summer_sorted["medal"].astype(str).str.contains('Bronze')]= 1
<ipython-input-8-bc0ea9e2410f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_summer_sorted["medal_value"][df_summer_sorted["medal"].astype(str).str.contains('Silver')]= 2
<ipython-input-8-bc0ea9e2410f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_summer_sorted["medal_value"][df_summer_sorted["medal"].astype(str).str.contains('Gold')]= 3

In [9]:
df_sports = df_summer_sorted
df_sports

,year,sport,discipline,athlete,country_code,gender,event,medal,medal_value
0,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold,3
97,1896,Gymnastics,Artistic G.,"LOUNDRAS, Dimitrios",GRE,Men,"team, parallel bars",Bronze,1
98,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,"team, parallel bars",Bronze,1
99,1896,Gymnastics,Artistic G.,"BÃCKER, Konrad",GER,Men,"team, parallel bars",Gold,3
100,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, parallel bars",Gold,3
...,...,...,...,...,...,...,...,...,...
27847,2008,Basketball,Basketball,"JIMENEZ, Carlos",ESP,Men,basketball,Silver,2
27846,2008,Basketball,Basketball,"GASOL, Pau",ESP,Men,basketball,Silver,2
27845,2008,Basketball,Basketball,"GASOL, Marc",ESP,Men,basketball,Silver,2
27858,2008,Basketball,Basketball,"KUZINA, Marina",RUS,Women,basketball,Bronze,1
29215,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,Silver,2

In [10]:
df_sports.dtypes

year             int64
sport           object
discipline      object
athlete         object
country_code    object
gender          object
event           object
medal           object
medal_value      int64
dtype: object

In [11]:
# Sending to postrgress
df_sports.to_sql(name= 'sports', con=engine, if_exists='append', index= False)